@*<div class="alert alert-danger">*@
<div class="alert alert-light">
    <h3>Unauthorized Access</h3>
    <p>
            You are not authorized to access this functionality.
        </p>
    </div>


<a asp-controller="Home" asp-action="Index" >Back to Home</a>
