@{
    Layout = "_LoginLayout";
}

<div class="alert alert-danger">
    <h1>Access Denied!</h1>
    You dont have access to the page you are looking for.
    <a asp-controller="Account" asp-action="Retry" class="nav-link">Login !</a>
</div>