@page
@model LibraryMgmt.WebApp.MVC.Pages.AddSuccessPageModel
@{

    <h3 class="alert alert-light">
        Book deleted successfully!
        <a asp-asp-controller="Home" asp-action="Index">Back to Home</a>
    </h3>
}
