@page
@model LibraryMgmt.WebApp.MVC.Pages.ErrorPageModel
@{
    <h3 class="alert alert-danger">
        Deletion was not successful.
    </h3>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
}
